<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="shortcut icon" href="{% static 'transfers/images/favicon' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'transfers/css/login.css' %}">
  </head>
  <body>
{% block header %}
{% endblock %}
  <div class="loginbox">
    
    {% block form_render %}
    {% endblock %}
    <div class="footer">
      <p style="font-size: 12px">Copyright © 2019. All Rights Reserved. <a href="/transfers/dev_page">Meet the Creators.</a></p>
      
    </div>
  </div>
  <main>
    {% block content %}
    {% endblock %}  
  </main>
  
</body>
</html>

