{% extends 'registration/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}
{% load static %}

{% block form_render %}

  <h1>Forgot your password?</h1>
  Enter your email address below, and we'll email instructions for setting a new one.
  <br><br>
  <form method="POST">
    {% csrf_token %}
    {{ form }}

    <div class="button"><button type="submit">Send me Instructions!</button></div>
    <div class="forgotPass"><a href={% url 'login' %}>Go back</a></div>
  </form>

{% endblock %}
