body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    overflow: auto;
}

.header{
  position: absolute;
  left: 0;
  top: -68%;
  width: 100%;
  text-align: center;
}


label[required] {
  background-color: blue;
}
.image {
    padding: 14px;
}
.loginbox{
    width: 350px;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    background: #fafafa;
    color: #000;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    padding: 20px 30px;
    border-style: outset;
    border-width: 1px;
    border-color: #c1c1c1;
    border-radius: 4px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  border-style: solid;
  border-width: 2px;
  border-color: #c1c1c1;
}
.pass_reset input[type="text"], input[type="password"]{

}
p {
  margin: 0px;
  font-size: 22px;
  font-family: monospace, sans-serif;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    /* font-weight: bold; */
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    border: 1px;
    border-bottom: 1px solid #555;
    background: transparent;
    outline: none;
    height: 30px;
    color: #696969;
    font-size: 20px;
    padding-top: 14px;
}

button {
    display: inline-block;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.forgotPass{
    padding-top: 12px;

}

.footer{
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 100%;
  text-align: center;
}

a{
    text-decoration: unset;
    color: #2962FF;
}
