{% extends "transfers/website_base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row form-container-row">
        <div class="col-md-8 shadow table-light rounded box" style="margin: 100px auto 20px auto; padding: 50px 0;">
            <h2 class="text-center">Practice School to Thesis Form</h2>
            <div class="row form-row">
                <div class="col" style="margin: 0 auto; max-width: 500px;">
                    <form action="" method="post">
                        {% csrf_token %}


                        {% comment %} Form Header {% endcomment %}
                        <div id="div_id_name" class="control-group">
                            <label for="id_name" class="control-label requiredField">
                                Name<span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="name" class="numberinput" required id="id_name" value="{{student_name}}" disabled readonly>
                            </div>
                        </div>
                        <div id="div_id_ID" class="control-group">
                            <label for="id_ID" class="control-label requiredField">
                                ID<span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="ID" class="numberinput" required id="id_ID" value="{{student_ID}}" disabled readonly>
                            </div>
                        </div>
                        <div id="div_id_branch" class="control-group">
                            <label for="id_branch" class="control-label requiredField">
                                Branch<span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="branch" class="numberinput" required id="id_branch" value="{{student_branch}}" disabled readonly>
                            </div>
                        </div>


                        {{ form.contact|as_crispy_field }}
                        <p class="d-none control-group text-danger pt-0 m-0" id="contact_error">Please enter a valid mobile number</p>
                        {% comment %} rewriting to override right align of label form addUser.css {% endcomment %}
                        <div id="div_id_supervisor_email" class="control-group">
                            <label for="id_supervisor_email" class="control-label requiredField text-left">
                                Supervisor (on campus) / co-supervisor (off campus) Email<span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                <input type="email" name="supervisor_email" maxlength="254" class="emailinput" required="" id="id_supervisor_email">
                            </div>
                        </div>

                        <div class="row control-group" style="padding: 0 30px 15px 30px;">
                            <div class="col-12">
                                <div class="row text-center">
                                    <p style="margin: 0;">Supervisor/co-supervisor details: <spanid id="verification-info" style="color: red;"></span></p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row verification-row">
                                    <div class="col-3 mb-0 verification-col">
                                        <p>Name:</p>
                                    </div>
                                    <div class="col-9 mb-0 verification-col">
                                        <p id="supervisor-name"></p>
                                    </div>
                                    <div class="col-3 mb-0 verification-col">
                                        <p>Campus:</p>
                                    </div>
                                    <div class="col-9 mb-0 verification-col">
                                        <p id="supervisor-campus"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div_id_hod_email" class="control-group">
                            <label for="id_hod_email" class="control-label requiredField">
                                HOD Email<span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                <select name="hod_email" class="select" required="" id="id_hod_email">
                                    <option value="" selected="">---------</option>
                                    {% for i in hod_email_list %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ form.sub_type|as_crispy_field }}
                        {{ form.cgpa|as_crispy_field }}
                        {{ form.thesis_locale|as_crispy_field }}
                        <div class="row control-group" style="padding: 0 30px 15px 30px;">
                            <div class="col-12">
                                <div class="row">
                                    <p id="thesis_locale_warning" style="color: red; display: none;">
                                        You are opting for Off Campus Industry, please make sure the industry is not already listed as a PS station.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        {{ form.thesis_subject|as_crispy_field }}
                        {{ form.name_of_org|as_crispy_field }}
                        {{ form.expected_deliverables|as_crispy_field }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var contact = '{{contact}}';
    if(contact == "None")
        contact = 0;
    $('#id_contact').val(contact);
    if('{{ invalid_supervisor_email }}' == 'True'){
        $("#verification-info").html("Invalid Supervisor Email!");
    }
    var invalid_contact = '{{invalid_contact}}';
    if(invalid_contact == "True")
        $('#contact_error').removeClass("d-none");
    $("#id_supervisor_email").change(function () {
        var email = $(this).val();
        $.ajax({
            url: '/TMS/validate_supervisor_email/',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_valid) {
                    console.log(true);
                    $("#supervisor-name").html(data.name);
                    $("#supervisor-campus").html(data.campus);
                    $("#verification-info").html("");
                } else {
                    $("#verification-info").html("Invalid Supervisor Email!");
                    $("#supervisor-name").html("");
                    $("#supervisor-campus").html("");
                }
            }
        });
    });
    $('#id_thesis_locale').on('change', function() {
        if(this.value == 3){
            $('#thesis_locale_warning').show();
        } else {
            $('#thesis_locale_warning').hide();
        }
    });
</script>

{% endblock %}