{% extends "transfers/website_base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row form-container-row">
        <div class="col-md-8 shadow table-light rounded box" style="margin: 100px auto 20px auto; padding: 50px 0;">
            <h2 class="text-center">Thesis to Practice School Form</h2>
            <div class="row form-row">
                <div class="col" style="margin: 0 auto; max-width: 500px;">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.applicant|as_crispy_field }}
                        <div id="div_id_hod_email" class="control-group">
                            <label for="id_hod_email" class="control-label requiredField">
                                HOD Email<span class="asteriskField">*</span>
                            </label>
                            <div class="controls">
                                <select name="hod_email" class="select" required="" id="id_hod_email">
                                    <option value="" selected="">---------</option>
                                    {% for i in hod_email_list %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ form.sub_type|as_crispy_field }}
                        {{ form.cgpa|as_crispy_field }}
                        {{ form.reason_for_transfer|as_crispy_field }}
                        {{ form.name_of_org|as_crispy_field }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}